.sliderWrapper {
  display: flex;
  margin-top: 35px;
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px dashed grey;
}

.sliderInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.sliderBody {
  width: 30px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #d4d4d4;
  overflow: hidden;
  padding: 6px 0;
}

.sliderDot {
  position: absolute;
  left: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  border: 1px solid #d4d4d4;
  display: block;
  border-radius: 50%;
  transition: all 0.5s;
  box-shadow: 0px 0px 40px 25px currentColor;
}

.sliderButtonsList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  margin-left: 15px;
}

.sliderButton {
  background: unset;
  border: unset;
  text-align: left;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  white-space: nowrap;
  width: 90px;
  font-size: 18px;
}

.sliderButtonAmmount {
  font-size: 12px;
  color: gray;
}
